@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Outfit:wght@400;600&display=swap");

h1,
h2,
h3,
h4 {
  font-family: Outfit, sans-serif;
}

h5,
h6,
li,
a,
button,
span,
div,
td,
dt,
dd {
  font-family: Inter, sans-serif;
}

.social-link:hover img {
  filter: saturate(1) opacity(1);
}

.social-link img {
  transition: 300ms;
  filter: saturate(0) opacity(0.4);
}

@media print {
  .social-link img {
    filter: saturate(1) opacity(1) !important;
  }
}

p {
  @apply tracking-wider leading-6 text-slate-700 dark:text-slate-200 print:text-sm font-light;
}
