@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 15, 23, 42;
  }
}

@page {
  size: auto; /* auto is the initial value */

  /* this affects the margin in the printer settings */
  margin: 8mm 8mm 8mm 8mm;
}

html.dark:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

p {
  @apply tracking-wider leading-6 text-slate-700 dark:text-slate-200 print:text-sm font-light;
}

.job-experience {
  break-inside: avoid;
}
