:root {
  /* --accent-color: #0069ff; */
  --background-color: #eeeeee;
  --accent-color: #176b87;
  --text-color: #053b50;
}

@import url(https://sf.abarba.me/font.css);
body {
  background-color: var(--background-color);
  margin: 0;
  font-family: "SF Display", -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.App a {
  color: var(--accent-color);
  text-decoration: none;
}
.App header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App header .img {
  max-width: 90px;
}

@media screen and (min-width: 600px) {
  .App header {
    flex-direction: row;
  }
  .App header .img {
    margin-right: 1em;
    max-width: 190px;
  }
}
@media screen and (min-width: 600px) {
  .App header .name h1,
  .App header .name h2 {
    text-align: left !important;
    margin: 0;
  }
  .App header .name h1 {
    font-size: 6em !important;
    color: var(--accent-color);
  }
  .App header .name h2 {
    font-size: 4em;
    color: var(--text-color);
  }
}
.App header .name h1,
.App header .name h2 {
  text-align: center;
  margin: 0;
}
.App header .name h1 {
  font-size: 3em;
  color: var(--accent-color);
  margin-top: 8px;
}
.App article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App article p {
  font-size: 1.25em;
  text-align: center;
  padding: 0 12px;
  -webkit-margin-before: 2em;
  margin-block-start: 2em;
  -webkit-margin-after: 2em;
  margin-block-end: 2em;
  color: var(--text-color);
}
@media screen and (min-width: 600px) {
  .App article p {
    font-size: 2em;
    max-width: 28em;
  }
}
.App footer ul {
  box-sizing: border-box;
  padding: 0 24px;
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.25em;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .App footer ul {
    max-width: 28em;
  }
}
.App footer ul a {
  position: relative;
  font-size: 0.75rem;
}

@media screen and (min-width: 600px) {
  .App footer ul a {
    font-size: 1.25rem;
  }
}
.App footer ul a:after,
.App footer ul a:before {
  position: absolute;
  transition: 0.1s ease-out;
  opacity: 0;
}
.App footer ul a:before {
  content: "[";
  left: -6px;
}
.App footer ul a:after {
  content: "]";
  right: -6px;
}
.App footer ul a:hover:after,
.App footer ul a:hover:before {
  opacity: 1;
}
.App footer ul a:hover:before {
  content: "[";
  left: -24px;
}
.App footer ul a:hover:after {
  content: "]";
  right: -24px;
}
